main > article {
    margin-bottom: 2em;
}

main > article .footer {
    margin-top: 1rem;
    height: 2.5rem;
    border: var(--border);
    position: relative;
    border-radius: var(--border-radius);
}

main > article .footer .left,
main > article .footer .right {
    margin: 0.5rem;
}

main .footer .left {
    padding: 0;
    height: 22px;
    float: left;
}

main .footer .right {
    float: right;
}

main > article .title {
    color: var(--caption-color);
    font-size: 1.5em;
    font-weight: bold;
}

main > article .information {
    font-size: 1em;
    color: var(--info-color);
}

main > article .information > a {
    text-decoration: none;
    color: inherit;
}

main > article .body {
    margin-top: 1rem;
    padding-left: 1rem;
    border-left: 4px solid var(--border-color)
}

main > article .attachment {
    list-style-type: none;
    padding-inline-start: 0;
}

main > article .attachment li {
    font-size: 1.1em;
    line-height: 1.1em;
    color: var(--info-color);
    padding-inline-start: 18px;
    background: url(https://codeforces.org/s/28577/images/icons/paperclip-16x16.png) no-repeat;
}

.footer .left .positive-score {
    color: green;
    font-weight: bold;
    font-size: larger;
    position: relative;
    bottom: 5px;
}